 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant - Portal Principal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- encabezado principal -->
    <header>
        <h1>Mapas del juego</h1>
        <p>Toda la información los principales mapas en rotación</p>
        
        <!-- navegacion minima de 4 enlaces -->
        <nav>
            <ul>
                <li><a href="principal.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <!-- contenedor principal de contenido -->
    <main>

<section id="mapas">
            <h2>Mapas de Ranked</h2>
            
            <!-- bloques de contenido de mapas, cumpliendo la regla de minimo 3 tarjetas -->
            <div class="grid-cards">
                <div class="card">
                    <img src="img/ascent.png" alt="Mapa Ascent">
                    <h3>Ascent</h3>
                    <p>Un área abierta para guerras de desgaste de posiciones divide dos sitios. Cada sitio puede fortificarse con puertas irrompibles.</p>
                </div>
                <div class="card">
                    <img src="img/bind.png" alt="Mapa Bind">
                    <h3>Bind</h3>
                    <p>Dos sitios. Ningún centro. Tienes que elegir si ir a la izquierda o a la derecha. Cuenta con teletransportadores de un solo sentido.</p>
                </div>
                <div class="card">
                    <img src="img/split.png" alt="Mapa Split">
                    <h3>Split</h3>
                    <p>Si quieres ir lejos, tendrás que subir. Dos sitios separados por un centro elevado que permite el movimiento rápido con cuerdas.</p>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <p>Tarea numero 2 curso de diseño web.</p>
        <p>&copy; 2026 portal no oficial de valorant.</p>
    </footer>
    </body>
    </html>