<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant - Portal Principal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <header>
        <h1>Centro de Datos Valorant</h1>
        <p>Toda la información estratégica que necesitas para dominar</p>
        

        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#secciones">Secciones</a></li>
                <li><a href="#Tutoriales">Tutorial</a></li>
                <li><a href="#comunidad">Comunidad</a></li>
            </ul>
        </nav>
    </header>

   
    <main>
        
       
        <section id="inicio">
            <h2>Bienvenido al Protocolo</h2>
            <div class="info-bienvenida">
                <img src="img/destacada.png" alt="Equipo Valorant" class="imagen-destacada">
                <div>
                    <p>Valorant es un juego de FPS táctico en primera persona basado en personajes 5v5. En este portal encontrarás todos los detalles sobre los agentes que conforman el protocolo, el arsenal disponible y las ubicaciones de combate.</p>
                </div>
            </div>
        </section>

        <section id="secciones">
            <div class="grid-cards">

                <a href="agentes.html" class="card-link">
                    <div class="card">
                        <img src="img/agentes.png" alt="Agentes">
                        <h3>Agentes</h3>
                        <p>Informacion de agentes por rol</p>
                    </div>
                </a>

                <a href="armas.html" class="card-link">
                    <div class="card">
                        <img src="img/armas.png" alt="Armas">
                        <h3>Armas</h3>
                        <p>Armas que se encuentran dentro del juego</p>
                    </div>
                </a>


                <a href="maps.html" class="card-link">
                    <div class="card">
                        <img src="img/maps.png" alt="Mapas">
                        <h3>Mapas</h3>
                        <p>Los mapas que se encuentran en rotación</p>
                    </div>
                </a>
            </div>
        </section>
        <section id="Tutoriales">
            <h2>Tutoriales</h2>
            <a href="https://www.youtube.com/watch?v=vWu5ntWysn8" class="card-link">
                <div class="card">
                    <img src="img/black.png" alt="Tutorial">
                    <h3>Tutorial</h3>
                    <p>Black españolito nos dá consejos</p>
                </div>
            </a>
        </section>

        <section id="comunidad">
            <h2>Comunidad</h2>
            <div class="grid-cards">
                

                <a href="https://valorantesports.com/es-MX/live/game_changers_latam/105670145197346456" class="card-link" target="_blank">
                    <div class="card">
                        <img src="img/team.png" alt="Team">
                        <h3>Únete a nuestro Team</h3>
                        <p>¿Buscas compañeros para rankear? Súmate a nuestra comunidad y encuentra tu escuadra ideal para subir de rango.</p>
                        <span style="color: var(--rojo-valorant); font-weight: bold; display: block; margin-top: 10px;">Ir al servidor</span>
                    </div>
                </a>

   
                <a href="https://www.twitch.tv/alvatiezo" class="card-link" target="_blank">
                    <div class="card">
                        <img src="img/alva.png" alt="Twitch Alvatiezo">
                        <h3>Visita mi canal</h3>
                        <p>Sígueme en Twitch como <strong>ALVATIEZO</strong>. Streams en vivo y contenido exclusivo de Valorant.</p>
                    </div>
                </a>


                <a href="https://www.riotgames.com/es" class="card-link" target="_blank">
                    <div class="card">
                        <img src="img/down.png" alt="Descarga Valorant">
                        <h3>Descarga Valorant</h3>
                        <p>Haz clic aquí para ir a la página oficial de descarga.</p>
                    </div>
                </a>

            </div>
        </section>
            
        
    </main>


    <footer>
        <p>Tarea numero 2 curso de diseño web.</p>
        <p>&copy; 2026 portal no oficial de valorant.</p>
    </footer>

    <a href="#" class="btn-subir">↑</a>

</body>
</html>